{% extends "base.html" %}

{% block web-title %}
    【Ceph Upgrade】 Virtual Storage Management
{% endblock %}

{% block page-title %}
    Ceph Upgrade
{% endblock %}


{% block page-functions %}

{% endblock %}


{% block content %}
    {{ block.super }}
    Ceph Upgrade
{% endblock %}

{%block js%}
{{block.super}}
    <script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/icheck.min.js"></script>
{%endblock%}