{% extends "base.html" %}

{% block web-title %}
    【Add Cluster】 Virtual Storage Management
{% endblock %}

{% block page-title %}
    Add Cluster
{% endblock %}

{% block page-functions %}
    <li><a href="/cluster/add/" class=""><span>Add Cluster</span></a></li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <!-- START WIZARD WITH VALIDATION -->
    <div class="block">
        <!-- action="javascript:alert('Validated!');" -->
        <form role="form" class="form-horizontal" id="wizard-validation">
            <div class="wizard show-submit wizard-validation">
                <ul>
                    <li>
                        <a href="#step-1">
                            <span class="stepNumber">1</span>
                            <span class="stepDesc">Manifest<br /><small>The infomartion</small></span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="stepNumber">2</span>
                            <span class="stepDesc">Agent<br /><small>Personal data</small></span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-3">
                            <span class="stepNumber">3</span>
                            <span class="stepDesc">Create/Import<br /><small>Personal data</small></span>
                        </a>
                    </li>

                </ul>

                <div id="step-1">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Login</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="login" placeholder="Login"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="password" placeholder="Password" id="password"/>
                        </div>
                    </div>             
                    <div class="form-group">
                        <label class="col-md-2 control-label">Re-Password</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" name="repassword" placeholder="Re-Password"/>
                        </div>
                    </div>
                </div>

                <div id="step-2">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="name" placeholder="Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">E-mail</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="email" placeholder="Your email"/>
                        </div> 
                    </div>                                    
                    <div class="form-group">
                        <label class="col-md-2 control-label">Adress</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="adress" placeholder="Your adress"/>
                        </div>                                        
                    </div>                                                     
                </div>

                <div id="step-3">

                </div>                                                                                                         
            </div>
        </form>
    </div>                        
    <!-- END WIZARD WITH VALIDATION -->

{% endblock %}


{%block js%}
    {{block.super}}
    <script type="text/javascript" src="/static/js/plugins/jquery.smartWizard-2.0.min.js"></script>        
    <script type="text/javascript" src="/static/js/plugins/jquery.validate.js"></script>

    <script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/icheck.min.js"></script>

    {% load staticfiles %}
    <script src="{% static 'manage_cluster/js/manage.cluster.js' %}"></script>
{%endblock%}