{% extends "base.html" %}

{% block web-title %}
  【Add Server】 【Manage Server】 Virtual Storage Management
{% endblock %}

{% block page-title %}
    Add Server 
{% endblock %}

{% block page-functions %}

{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="row">
        <div class="col-md-12">
            <form id="validate" role="form" class="form-horizontal" action="javascript:alert('Form #validate submited');">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Server</h3>
                    </div>

                    <div class="panel-body">                                                            
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Server Name</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <input type="text" class="validate[required] form-control"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Server Public IP</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="form-control"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">                                        
                            <label class="col-md-3 col-xs-12 control-label">Server Private IP</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="password" class="validate[required] form-control"/>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Note</label>
                            <div class="col-md-6 col-xs-12">                                            
                                <textarea class="form-control" rows="5"></textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Clear Form</button>                                    
                        <button class="btn btn-primary pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/plugins/bootstrap-select.js"></script>

    <script type='text/javascript' src='/static/js/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'></script>
    <script type='text/javascript' src='/static/js/plugins/validationengine/jquery.validationEngine.js'></script>        
    <script type='text/javascript' src='/static/js/plugins/jquery.validate.js'></script>   
{% endblock %}