{% extends "base.html" %}

{% block web-title %}
    【Manage Server】 Virtual Storage Management
{% endblock %}

{% block page-title %}
    Manage Server 
{% endblock %}


{% block page-functions %}
    <li><a href="/server/add/" class=""><span>Add Server</span></a></li>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-heading">                                
                    <h3 class="panel-title">Server List</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <!-- <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li> -->
                    </ul>                                
                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                            	<th style="width:100px;">Checked</th>
                                <th>Name</th>
                                <th>IP</th>
                                <th>Status</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for server in server_list%}
                                <tr>
                                	<td>
                                        <input type="checkbox" class="icheckbox" />
                                    </td>
                                    <td>{{server.name}}</td>
                                    <td>{{server.public_ip}}</td>
                                    <td>{{server.status}}</td>
                                    <td>
                                        <!-- Split button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary">Update</button>
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                          <ul class="dropdown-menu">
                                            <li><a href="#">Detail</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#" style="color:red">Delete</a></li>
                                          </ul>
                                        </div>
                                    </td>
                                </tr>   
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{%block js%}
    {{block.super}}
    <script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/icheck.min.js"></script>
{%endblock%}