 <!-- START X-NAVIGATION VERTICAL -->
<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>

    <!-- START PAGE FUCNTION -->
    {% block page-functions %}{% endblock %}
    <!-- END PAGE FUCNTION -->

    <!-- SIGN OUT -->
    <li class="xn-icon-button pull-right">
        <a href="#" class="mb-control" data-box="#mb-signout" title="注销"><span class="fa fa-sign-out"></span></a>                        
    </li>
    <!-- SIGN SET PASSWORD -->
    <li class="xn-icon-button pull-right">
        <a href="#" class="mb-control" title="修改密码"><span class="fa fa-key"></span></a>                        
    </li>
    <li class="pull-right">
        <a href="#" title="修改密码"><span>徐守安</span></a>                        
    </li> 
    <!-- SIGN SET PASSWORD -->
</ul>
<!-- END X-NAVIGATION VERTICAL -->
