<li class="xn-icon-button pull-right">
    <a href="#"><span class="fa fa-info"></span></a>
    <!--success warning danger-->
    <div class="informer informer-danger">3</div>

    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging ui-draggable">
        <div class="panel-heading ui-draggable-handle">
            <h3 class="panel-title"><!-- <span class="fa fa-info"></span> -->Cluster Log</h3>
            <!-- <div class="pull-right">
                <span class="label label-warning">3 active</span>
            </div> -->
        </div>
        <div class="panel-body list-group scroll mCustomScrollbar _mCS_3 mCS-autoHide mCS_no_scrollbar" style="height: 200px;">
            <div id="mCSB_3" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0">
                <div id="mCSB_3_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">                                
                    <a class="list-group-item" href="#">
                        <strong style="color:#95b75d">[23/03/16]Health:</strong>
                        <br>
                        <small class="text-muted">Show your log</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong style="color:#fe970a">[23/03/16]Warning:</strong>
                        <br>
                        <small class="text-muted">Show your log</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong style="color:#E04B4A">[23/03/16]Error:</strong>
                        <br>
                        <small class="text-muted">Show your log</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong style="color:#95b75d">[23/03/16]Health:</strong>
                        <br>
                        <small class="text-muted">Show your log</small>
                    </a>                                
                </div>
               <!--  <div id="mCSB_3_scrollbar_vertical" class="mCSB_scrollTools mCSB_3_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;">
                    <div class="mCSB_draggerContainer">
                        <div id="mCSB_3_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px;" oncontextmenu="return false;">
                            <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                        </div>
                        <div class="mCSB_draggerRail"></div>
                    </div>
                </div> -->
            </div>
        </div>     
        <div class="panel-footer text-center">
            <a href="pages-tasks.html">Show all logs</a>
        </div>                            
    </div>                        
</li>