{% extends "base.html" %}

{% block web-title %}
  【Add EC Profile】Virtual Storage Management
{% endblock %}

{% block page-title %}
    Add EC Profile
{% endblock %}

{% block page-functions %}

{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="row">
        <div class="col-md-12">
            <form id="validate" role="form" class="form-horizontal" action="javascript:alert('Form #validate submited');">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add EC Profile</h3>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Name</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="validate[required] form-control"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Plugin Name</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="validate[required] form-control"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Plugin Path</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="validate[required] form-control"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">PG Count</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="number" class="validate[required] form-control"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Plugin Key_Value Pairs</label>
                            <div class="col-md-6 col-xs-12">
                                <input type="text" class="validate[required] form-control"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default">Clear Form</button>                                    
                        <button class="btn btn-primary pull-right">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/plugins/bootstrap-select.js"></script>
    <script type='text/javascript' src='/static/js/plugins/validationengine/languages/jquery.validationEngine-zh_CN.js'></script>
    <script type='text/javascript' src='/static/js/plugins/validationengine/jquery.validationEngine.js'></script>        
    <script type='text/javascript' src='/static/js/plugins/jquery.validate.js'></script>
    <script type='text/javascript' src='/static/js/plugins/jquery.tagsinput.min.js'></script>
    <script type="text/javascript" src="/static/js/plugins/icheck.min.js"></script>
{% endblock %}