{% extends "base.html" %}

{% block web-title %}
    Virtual Storage Management
{% endblock %}

{% block css %}
    {{ block.super }}
    {% load staticfiles %}
    <link href="{% static "dashboard/css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block page-title %}
    Overview
{% endblock %}

{% block content %}
    {{ block.super }}
    {{name}}

    <div id="row1" class="row">
        <div  class="col-md-3">
        	<!-- onclick="location.href='pages-messages.html';" -->
        	<div id="dVSMStatus3" class="widget widget-default widget-item-icon" >
        		<div class="widget-data">
        			<a href="#" class="tile tile-default" style="text-decoration:none">
		                234 days 12 hours
		                <p>vsm-version:3.0 &nbsp&nbsp&nbsp ceph-version:0.8.0</p>
		                <div class="informer informer-primary">03.26.16</div>
		                <div class="informer informer-success dir-tr">
		                	<span class="fa "></span>
		                </div>
		            </a>
        		</div>
        		<div class="widget-controls">                                
                    <!-- <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a> -->
                </div>
        	</div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-default widget-padding-sm">                            
                <div class="widget-item-left">
                    <div id="CapacityPie" class="chart-pie-capacity"></div>
                </div>
                <div class="widget-data">
                    <div class="widget-big-int"><span class="num-count">80</span>%</div>
                    <div class="widget-title">Disk Capacity</div>
                    <div class="widget-subtitle">Total:2GB 123MB &nbsp&nbsp&nbsp Used:1GB 123MB</div>
                </div> 
                <div style="text-align:right;color:#ccc;padding-right:10px;">
                    <span>2016-03-29 10:23:11</span>
                </div>                           
                <div class="widget-controls">                                
                    <a href="http://www.baidu.com" class="widget-control-right" data-toggle="tooltip" data-placement="top" title="Detail"><span class="fa fa-info"></span></a>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-default widget-padding-sm">                            
                <div class="widget-item-left">
                    <div id="StorageGroupPie" class="chart-pie-capacity"></div>
                </div>
                <div class="widget-data">
                    <div class="widget-big-int"><span class="num-count">30</span></div>
                    <div class="widget-title">Storage Group</div>
                    <div class="widget-subtitle">Health:20  &nbsp&nbsp&nbsp Near Full:8 &nbsp&nbsp&nbsp Full:2</div> 
                </div>
                <div style="text-align:right;color:#ccc;padding-right:10px;">
                    <span>2016-03-29 10:23:11</span>
                </div>                             
                <div class="widget-controls">                                
                   <a href="http://www.baidu.com" class="widget-control-right" data-toggle="tooltip" data-placement="top" title="Detail"><span class="fa fa-info"></span></a>
                </div>                            
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget widget-default widget-padding-sm">                            
                <div class="widget-item-left">
                    <div id="PGPie" class="chart-pie-capacity"></div>
                </div>
                <div class="widget-data">
                    <div class="widget-big-int"><span class="num-count">123</span></div>
                    <div class="widget-title">PG</div>
                    <div class="widget-subtitle">Active+Clean:120  &nbsp&nbsp&nbsp Not Active+Clean:3</div>
                </div>
                <div style="text-align:right;color:#ccc;padding-right:10px;">
                    <span>2016-03-29 10:23:11</span>
                </div>                    
                <div class="widget-controls">                                
                    <a href="http://www.baidu.com" class="widget-control-right" data-toggle="tooltip" data-placement="top" title="Detail"><span class="fa fa-info"></span></a>
                </div>                            
            </div>
        </div>
    </div>

    <div id="row2" class="row">
    	<div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>Server</h3>
                        <span>epoch:0.23</span>
                    </div>
                    <ul class="panel-controls">
                        <li><a href="#"><span class="fa fa-info"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>                                
                </div>
                <div class="panel-body">
                    <div style="text-align:right;color:#ccc;padding-right:10px;">
                        <br><br><br><br><br>
                        <span>2016-03-29 10:23:11</span>
                    </div>
                </div>  
            </div>
		</div>
    	<div class="col-md-3">
		    <!-- START USERS ACTIVITY BLOCK -->
		    <div class="panel panel-warning">
		        <div class="panel-heading ui-draggable-handle">
		            <div class="panel-title-box">
                        <h3>OSD</h3>
                        <span>epoch:0.23</span>
                    </div>                                    
		            <ul class="panel-controls" style="margin-top: 2px;">
		            	<li><a href="#"><span class="fa fa-info"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
		            </ul>                                    
		        </div>                                
		        <div class="panel-body padding-0">
		        	<div id="dOSDCapacity">
		        		<div id="OSDPie" class="chart-pie-capacity"></div>
		        	</div>

		        	<div class="table-responsive">
                        <table id="tMDS" class="table">
                            <tbody>
                            	<tr >
                                    <td width="20%"><span></span></td>
                                    <td width="33%"><span>Up</span></td>
                                    <td width="33%"><span>Down</span></td>
                                </tr>
                                <tr >
                                    <td><span>In</span></td>
                                    <td><span><span class="label label-success label-quota">50</span></span></td>
                                    <td><span class="label label-warning label-quota">20</span></td>
                                </tr>
                                <tr >
                                    <td><span>Out</span></td>
                                    <td><span class="label label-warning2 label-quota">20</span></td>
                                    <td><span class="label label-danger label-quota">10</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:right;color:#ccc;padding-right:10px;">
                        <span>2016-03-29 10:23:11</span>
                    </div>
		        </div>
		    </div>
		    <!-- END USERS ACTIVITY BLOCK -->
		</div>
		<div class="col-md-3">
		    <!-- START USERS ACTIVITY BLOCK -->
		    <div class="panel panel-warning">
		        <div class="panel-heading ui-draggable-handle">
		            <div class="panel-title-box">
		                <h3>Monitor</h3>
		                <span>epoch:0.23</span>
		            </div>                                    
		            <ul class="panel-controls" style="margin-top: 2px;">
		            	<li><a href="#"><span class="fa fa-info"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
		            </ul>                                    
		        </div>                                
		        <div class="panel-body padding-0">
		        	<br>
		        	<div class="table-responsive">
                        <table  id="tMDS" class="table">
                            <tbody>
                            	<tr >
                                    <td><span>Probing</span></td>
                                    <td><span>Electing</span></td>
                                    <td><span>Synchronizing</span></td>
                                    <td><span>Leader</span></td>
                                    <td><span>Popen</span></td>
                                    <!-- <td><span>Total</span></td> -->
                                </tr>
                                <tr>
                                    <td><span class="label label-success label-quota">50</span></td>
                                    <td><span class="label label-warning label-quota">20</span></td>
                                    <td><span class="label label-warning2 label-quota">20</span></td>
                                    <td><span class="label label-danger label-quota">5</span></td>
                                    <td><span class="label label-success label-quota">5</span></td>
                                    <!-- <td><span class="label label-success">100</span></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:right;color:#ccc;padding-right:10px;">
                        <span>2016-03-29 10:23:11</span>
                    </div>
		        </div>                           
		    </div>
		    <!-- END USERS ACTIVITY BLOCK -->
		</div>
		<div class="col-md-3">
		    <!-- START USERS ACTIVITY BLOCK -->
		    <div class="panel panel-warning">
		        <div class="panel-heading ui-draggable-handle">
		            <div class="panel-title-box">
		                <h3>MDS</h3>
		                <span>epoch:0.23</span><span>metadata:20</span><span>data:15</span>
		            </div>                                    
		            <ul class="panel-controls" style="margin-top: 2px;">
		            	<li><a href="#"><span class="fa fa-info"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
		            </ul>                                    
		        </div>                                
		        <div class="panel-body padding-0">
		        	<br>
		        	<div class="table-responsive">
                        <table  id="tMDS" class="table">
                            <tbody>
                            	<tr >
                                    <td width="20%"><span>In</span></td>
                                    <td width="20%"><span>Up</span></td>
                                    <td width="20%"><span>Stopped</span></td>
                                    <td width="20%"><span>Failed</span></td>
                                    <td width="20%"><span>Total</span></td>
                                </tr>
                                <tr>
                                    <td width="20%"><span class="label label-success label-quota">50</span></td>
                                    <td width="20%"><span class="label label-warning label-quota">20</span></td>
                                    <td width="20%"><span class="label label-warning2 label-quota">20</span></td>
                                    <td width="20%"><span class="label label-danger label-quota">10</span></td>
                                    <td width="20%"><span class="label label-success label-quota">100</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:right;color:#ccc;padding-right:10px;">
                        <span>2016-03-29 10:23:11</span>
                    </div>
		        </div>                             
		    </div>
		    <!-- END USERS ACTIVITY BLOCK -->
		</div>
    </div>

    <div id="row3" class="row">
    	<div class="col-md-3">
		    <!-- START USERS ACTIVITY BLOCK -->
		    <div class="panel panel-warning">
		        <div class="panel-heading ui-draggable-handle">
		            <div class="panel-title-box">
		                <h3>IOPs</h3>
		                <span></span>
		            </div>                                    
		            <ul class="panel-controls" style="margin-top: 2px;">
		            	<li><a href="#"><span class="fa fa-info"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
		            </ul>                                    
		        </div>                                
		        <div class="panel-body padding-0">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="">Write:233</span>
                        </div>
                        <div class="col-md-4">
                            <span class="">Read:233</span>
                        </div>
                        <div class="col-md-4">
                            <span class="">W&R:233</span>
                        </div>
                    </div>
                    <br>
                    <div style="text-align:right;color:#ccc;padding-right:10px;">
                        <span>2016-03-29 10:23:11</span>
                    </div>
		        </div>   
		    </div>
		    <!-- END USERS ACTIVITY BLOCK -->
		</div>
		<div class="col-md-3">
		    <!-- START USERS ACTIVITY BLOCK -->
		    <div class="panel panel-warning">
		        <div class="panel-heading ui-draggable-handle">
		            <div class="panel-title-box">
		                <h3>Lantency</h3>
		                <span></span>
		            </div>                                    
		            <ul class="panel-controls" style="margin-top: 2px;">
		            	<li><a href="#"><span class="fa fa-info"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
		            </ul>                                    
		        </div>                                
		        <div class="panel-body padding-0">
		        	<br>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="">Write:233</span>
                        </div>
                        <div class="col-md-4">
                            <span class="">Read:233</span>
                        </div>
                        <div class="col-md-4">
                            <span class="">W&R:233</span>
                        </div>
                    </div>
                    <br>
		        	<div style="text-align:right;color:#ccc;padding-right:10px;">
                        <span>2016-03-29 10:23:11</span>
                    </div>
		        </div>                              
		    </div>
		    <!-- END USERS ACTIVITY BLOCK -->
		</div>
        <div class="col-md-3">
            <!-- START USERS ACTIVITY BLOCK -->
            <div class="panel panel-warning">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>Bandwidth</h3>
                        <span></span>
                    </div>                                    
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#"><span class="fa fa-info"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>                                    
                </div>                                
                <div class="panel-body padding-0">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="">In:233</span>
                        </div>
                        <div class="col-md-4">
                            <span class="">Out:233</span>
                        </div>
                        <div class="col-md-4">
                            <span class=""></span>
                        </div>
                    </div>
                    <br>
                    <div style="text-align:right;color:#ccc;padding-right:10px;">
                        <span>2016-03-29 10:23:11</span>
                    </div>
                </div>
            </div>
            <!-- END USERS ACTIVITY BLOCK -->
        </div>
        <div class="col-md-3">
            <!-- START USERS ACTIVITY BLOCK -->
            <div class="panel panel-warning">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>CPU</h3>
                        <span></span>
                    </div>                                    
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#"><span class="fa fa-info"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>                                    
                </div>                                
                <div class="panel-body padding-0">
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="">Average:124</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="">Max:192.168.1.2(234)</span>
                        </div>
                        <div class="col-md-6">
                            <span class="">Min:192.168.1.3(45)</span>
                        </div>
                    </div>   
                    <br>
                    <div style="text-align:right;color:#ccc;padding-right:10px;">
                        <span>2016-03-29 10:23:11</span>
                    </div>
                </div>                                
            </div>
        </div>
    </div>

    <div id="row4" class="row">
    	<div class="col-md-12">
            <!-- TABS WIDGET -->
            <div class="panel panel-default tabs">
            	<div class="panel-heading ui-draggable-handle">
		            <h3 class="panel-title" style="font-weight: 600">Cluster Log</h3>                            
		            <ul class="panel-controls" style="margin-top: 2px;">
		            	<li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
		                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    </ul>
		        </div> 

            	<br>
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">Server</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false">OSD</a></li>
                    <li class=""><a href="#tab3" data-toggle="tab" aria-expanded="false">Monitor</a></li>
                    <li class=""><a href="#tab4" data-toggle="tab" aria-expanded="false">MDS</a></li>
                </ul>
                <div class="panel-body tab-content">
                    <div class="tab-pane active" id="tab1">
                        Server Log
                        <br><br><br><br><br><br><br>
                    </div>
                    <div class="tab-pane" id="tab2">
                        OSD Log
                        <br><br><br><br><br><br><br>
                    </div>
                    <div class="tab-pane" id="tab3">
                        Monitor Log
                        <br><br><br><br><br><br><br>
                    </div>
                    <div class="tab-pane" id="tab4">
                        MDS Log
                        <br><br><br><br><br><br><br>
                    </div>                       
                </div>
            </div>                        
            <!-- END TABS WIDGET -->
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/plugins/icheck.min.js"></script>
    <script type="text/javascript" src="/static/js/d3/d3.min.js"></script>
    <script type="text/javascript" src="/static/js/d3/d3.pie.js"></script>
    {% load staticfiles %}
    <script src="{% static "dashboard/js/dashboard.js" %}"></script>
    <!--<script src="{% static "dashboard/js/dashboard.settings.js" %}"></script>-->
{% endblock %}


